*.swp
*.swo
.git-ignore/
patches/
*.patch
*.pyc
tags
TAGS
.gitid
version.go
swy-gate
swy-wdog
swy-runner
swy-admd
swy-pgrest
swy-mquotad
swy-mongoproxy
swy-s3
swyctl
swytrace
swys3fsck
swysg
swy-dbscr
swy-dbscr-s3
swyruntest
go-sca
validation
docs/build
vendor/
